<p id="notice"><%= notice %></p>

<div class="ui sizer vertical segment">
  <div class="ui huge header"> <%= @post.title %> </div>
  <p><%= simple_format(@post.body) %></p>
</div>

<button class="ui button">
  <%= link_to semantic_icon('angle left') + 'Back', root_path %>
</button>
