<div class="ui secondary  menu">
  <div class="active item">

    <div class="ui large buttons">
        <button class="ui button"><%= link_to "Home", root_path %></button>
      <div class="or"></div>
        <button class="ui button"><%= link_to "My Posts", posts_path %></button>
      </div>
    </div>
  
  <div class="right menu">
    <button class="ui button">
      <%= link_to semantic_icon('sign-out') + 'Logout', destroy_user_session_path, method: :delete %>
    </button>
  </div>
</div>